IMAGE_TABLE_DATA_DIR=data
IMAGE_TABLE_BACKEND_HOST=127.0.0.1
IMAGE_TABLE_BACKEND_PORT=8000
IMAGE_TABLE_FRONTEND_HOST=127.0.0.1
IMAGE_TABLE_FRONTEND_PORT=5173
IMAGE_TABLE_WORKER_CONCURRENCY=1
IMAGE_TABLE_CRAWL_CONCURRENCY=1
IMAGE_TABLE_OCR_CONCURRENCY=1
IMAGE_TABLE_LEASE_SECONDS=900
